
body {
    background-color: #DEF2F1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  

p {
    color: #feffff;
}

#sets {
  background-color: rgb(58, 175, 169 / 100%); 
  width: 25%;
  height: 100%;
  margin-right: 10px;
  padding: 20px;
  text-align: center;
}

#items {
  background-color: #3aafa9;
  width: 75%;
  height: 100%;
  margin-left: 10px;
  padding: 20px;
  font-size: 25px
}

#text-input{
  background-color: #DEF2F1;
  border-width: 0px;
}

button {
  background-color: transparent;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #DEF2F1;
  color: #DEF2F1;
  border-width: 2px;
}

li {
  color: #feffff;
}

h2 {
  color: #17252A;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}