body {
  background-color: #3aafa9;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#sets {
  background-color: #44D1C9; 
}

#items {
  background-color: #44D1C9;
}

p, li, h2 {
  color: #feffff;
}

